body {
  padding: 0;
  text-align: center;
}

#game-intro {
  padding: 20px 0px;
}

#game-container {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  justify-content: center;
  border: 5px solid black;
}

#color-overlay {
  position: relative;
  z-index: 1;
  opacity: 0.5;
  background-color: #000;
  width: 100%;
  height: 100%;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 5px 5px;
  overflow: hidden;
  position: relative;
  border: 1px solid black;
  background-image: url(../images/bckgrnd.jpg);
  background-size: cover;
  /*animation: slide 10s linear infinite; */
}

@keyframes slide {
  0% {
    background-position: -500px 0;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 0;
  }
}

#game-end {
  display: none;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.stats {
  display: flex;
  flex-direction: column;
  text-align: left;
}
