body {
  padding: 0;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

#game-intro {
  padding: 20px 20px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  max-width: 600px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#game-container {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

#color-overlay {
  position: relative;
  opacity: 0.5;
  background-color: #000;
  width: 100%;
  height: 100%;
}

#game-screen {
  display: none;
  justify-content: flex-start;
  padding: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-image: url(../images/back.png);
  background-size: contain;
  background-position: center;
}

#game-end {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 200px;
  margin: 20px;
}

#start-button {
  max-width: 180px;
  margin: 20px;
}

#restart-button {
  max-width: 230px;
  margin: 20px;
  display: block;
}

#stats-title {
  max-width: 200px;
}

.stats {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin: 20px;
  padding: 10px 15px 0 10px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  width: 200px;
}

.stats-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#score,
#lives {
  font-weight: bold;
  font-size: 30px;
}

#essentials {
  font-weight: bold;
}

#game-title {
  margin-bottom: 20px;
}

#introduction-title {
  font-weight: bold;
  font-size: 24px;
  margin: 20px 0 10px 0;
  display: block;
}

#big-question {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
