body {
  padding: 0;
  text-align: center;
}

#game-intro {
  padding: 20px 20px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

#game-container {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  justify-content: center;
}

#color-overlay {
  position: relative;
  z-index: 1;
  opacity: 0.5;
  background-color: #000;
  width: 100%;
  height: 100%;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 5px 5px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  background-image: url(../images/bckgrnd.jpg);
  background-size: cover;
  /*animation: slide 10s linear infinite; */
}
/* 
@keyframes slide {
  0% {
    background-position: -500px 0;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 0;
  }
} */

#game-end {
  display: none;
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 200px;
}

#start-button {
  max-width: 180px;
  margin: 20px;
}

#restart-button {
  max-width: 230px;
  margin: 20px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#stats-title {
  max-width: 200px;
}
.stats {
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  padding: 20px 20px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

stats p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#score,
#lives {
  font-weight: bold;
  font-size: 30px;
}
